/* home.css */

.home-container {
    text-align: center;
    margin-top: 4rem;

  }
  
  .home-title {
    margin-bottom: 1rem;
  }
  
  .search-bar {
    width: 100%;
    margin-top: 1rem;
  }
  
  
  .suggestions-section {
    margin-top: 1rem;
  }
  
  .suggestions-section p {
    margin-bottom: 0.5rem;
    text-align: left;
    color: grey;
  }
  
  .suggestion-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .suggestion-button {
    text-transform: uppercase;
    width: calc(25% - 0.5rem); /* Adjust the width for 4 buttons in one line */
    margin-bottom: 0.5rem; /* Add margin between rows */
  }
  
  /* Home.css */

.table-container {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.table-container table {
  width: 100%;
}

.table-container th,
.table-container td {
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2;
}


